.register_bg {
    background: linear-gradient(30deg, #000, transparent 80%), url('../../assets/pizza_bg_2.webp');
    min-height: calc(100vh - 75px);  
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


.form_register {
    background: url('../../assets/bg.png');
   opacity: 80%;
}