.cart_item_p {
    padding: 68px 0;
}

.cart_item_title {
    padding: 68px 0;
}

.cart_icon {
    margin-left: 10px;
}

.cart_p {
    font-family: var(--font-base);
    color: var(--color-white);
    font-weight: 700;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
    font-size: 23px; 
}

.cart_bg {
  background: url('../../assets/bg.png');
  height: 100%;
}

@media screen and (max-width: 992px) {
    .cart_item_p {
        padding: 10px 40px 
    }
}

@media screen and (max-width: 768px) {
    .cart_item_title {
        padding: 0 40px ;
        text-align: center ;
        border-bottom: 4px solid #fff;
    }
    .cart_img {
        display: block;
        margin: auto;
    }

    .cart_border_top {
        border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color)!important;
        margin-top: 10px;
    }
}

@media screen and (max-width: 576px) {
    .cart_none {
        display: none;
    }

    .cart_p {
        font-size: 20px;  
        font-weight: 500;
    }
    .cart_item_p {
        padding: 10px 20px 
    }

    .cart_item_title {
        padding: 0 ;
    }
}