.title_form_success {
    font-family: var(--font-base);
  color: #FFF;
  font-size: 50px;
  line-height: 83.2px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-style: italic;
  font-weight: 500
}

.p_form_success {
    font-family: var(--font-base);
    color: var(--color-white);
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
    line-height: 29.9px;
    font-size: 23px; 
    font-style: italic;
}
