.nav_admin {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 2rem;
  transition: all 300ms ease;
}

.logo_admin {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_link_admin{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  
}

.nav_link-item_admin{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 2rem;
  text-decoration: none;
  height: 2.5rem;
  color: black;
  position: relative;
  transition: all 300ms ease;
  font-weight: 600; 
}

.nav_link-item_admin:hover {
  cursor: pointer;
}

.active_admin {
  background-color: rgb(201, 158, 102);
  margin-left: 0;
}

.active_admin::before {
  content: '';
  width: 10px;
  height: 100%;
  background-color: rgb(102, 70, 28);
  margin-right: calc(1rem - 10px);
}
